<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div id="vinheta"></div>
    <nav>
        <img src="{{ url_for('static', filename='images/background.svg') }}">
    </nav>
    <main>
        <h2 class="difficulty-title floatingAnimation">ESCOLHA UMA</h2>
        <h2 class="difficulty-title floatingAnimation">DIFICULDADE</h2>
        <div class="difficultys">
            <button class="difficulty-button easy" id="easy">
                <p>FÁCIL</p>
                <span>(2 minutos)</span>
            </button>
            <button class="difficulty-button normal" id="normal">
                <p>NORMAL</p>
                <span>(4 minutos)</span>
            </button>
            <button class="difficulty-button hard" id="hard">
                <p>DIFÍCIL</p>
                <span>(7 minutos)</span>
            </button>
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/vinheta.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chose_difficult.js') }}"></script>
</body>
</html>