<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <nav>
        <img src="{{ url_for('static', filename='images/background.png') }}">
    </nav>
    <main>
        <div class="endgame-section-title">
            <h1>Parabéns!</h1>
            <h1>Você ficou em</h1>
            <h1 id="colocacao">...</h1>
            <h1>Colocação!</h1>
        </div>
        <div class="endgame-signup">
            <input placeholder="Insira um apelido..." class="input" id="nickname" maxlength="15">
            <button id="signup-nickname">Cadastrar Apelido</button>
            <a href="/">prefiro não aparecer</a>
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/endgame.js') }}"></script>
</body>
</html>