<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memory Game</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script
      src="https://kit.fontawesome.com/236f7dfd45.js"
      crossorigin="anonymous"
    ></script>

  </head>
  <body>
    <nav>
      <img src="{{ url_for('static', filename='images/background.png') }}">
      <div class="infos">
        <p id="timer">- - -</p>
        <p id="points">- - -</p>
      </div>
    </nav>
    <main>
      <section class="cards"></section>

      <section class="mathProblem">
        <h2>
          Resolva o problema para completar o par!
        </h2>
        <div><img src="" alt="" class="image"/></div>
        <p class="questionText">Pergunta não definida</p>
        <div class="questions">
          <div>
            <button class="question-button">1</button>
            <button class="question-button">2</button>
          </div>
          <div>
            <button class="question-button">3</button>
            <button class="question-button">4</button>
          </div>
        </div>
      </section>
    </main>

    <script src="{{ url_for('static', filename='js/configs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
  </body>
</html>
